/* Full Menu */
#menuBG {
    width: 400px;
    height: 470px;
    margin: 10px auto;
}
/* Menu Options */
#frmMenu {
    width: 600px;
    height: 200px;
}
/* Total */
#totalPrice {
    width: 200px;
    height: 190px;
    margin: 20px auto;
    float: right;
}
/* Position of size, veggies, and meat options*/
.left {
    width: 200px;
    height: 200px;
    float: left;
}

.center{
    width: 200px;
    height: 200px;
    float: left;
}

.right {
    width: 200px;
    height: 200px;
    float: right;
}
/* Total */
#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top: 0;
    margin: 0px auto;
    width: 400px;
    height: 200px;
}
/* Place order button*/
#btnOrder {
    margin: 10px 0px 0px 100px;
    width: 100px;
    height: 40px;
    display: block;
    margin: 25px auto;
}

/* Challenge */
body {
    background-color: whitesmoke;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: darkslategray;
    text-align: center;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

div {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}